/*
#B2DBE2;
#8EA6C8;
#78C1A0;
#51694B;
*/

body {
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 40px;
}

.header {
    background: #8EA6C8;
    height: 600px;
    margin: 0;
}

.header h1 {
    text-align: center;
    padding-top: 0px;
    font-size: 40px;
}

.header img {
    padding-top: 30px;
    margin: auto;
    display: block;
}

.navbar li a {
    font-size: 22px;
    color: black;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar li a:hover {
    background-color: #466692;
}

.navbar li {
    display: inline-block;
}

 .navbar ul {
    position: fixed;
    top: 0;
    width: 100%; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 14px;
    background-color: #8EA6C8;
}

.projects {
    
    height: 400px;
    margin-top: 0;
}

.publications {
    
    height: 400px;  
}

.skills {
    
    height: 400px;
    
}

.about {
    
    height: 400px;
    
}

.footer {
    background: #B2DBE2;
}

.sections {
    margin-left: 60px;
    padding-top: 30px;
    margin-top: 0;

}

.cards {
    width: 200px;
    margin-left: 300px;
    display: inline-block;
    text-align: center;
}

.about-summary p {
    margin: 10px 100px;
}

.cards p {
    margin-top: 10px;
    font-size: 20px;
}

.skills-logos p {
    margin-left: 400px;
}

.about-summary {
    margin: 0 200px;
}

.footer-links li a {
    font-size: 22px;
    color: black;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

.footer-links {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 14px;
}

.footer-links li {
    display: inline-block;
}
    