/*
#B2DBE2;
#8EA6C8;
#78C1A0;
#51694B;
*/

* {
    box-sizing: border-box;
    
}
body {
    font-family: 'Arimo', sans-serif;
    padding: 0;
    padding-top: 40px;
    margin: 0;
    min-width: 350px;
    
    
}

img {
    border-radius: 10px;
    
}

/*header css */
.header {
    background: #8EA6C8;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 30px;
}

.header h1 {
    text-align: center;
    padding-top: 0px;
    font-size: 40px;
}

.header img {
    padding-top: 30px;
    margin: auto;
    display: flex;
    max-width: 600px;
    height: auto;
    width: 90%;
}

.navbar li a {
    font-size: 22px;
    color: black;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar li a:hover {
    background-color: #466692;
}

.navbar li {
    display: inline-block;
}

 .navbar ul {
     z-index: 500;
    position: fixed;
    top: 0;
    width: 100%; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 14px;
    background-color: #8EA6C8;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
/*body css */
.sections {
    padding-top: 30px;
    margin-top: 10px;
    text-align: center;
}

/* .fixer {
    clear:both;
} */

.projects-container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex: 1; 
}

.project-col {
    flex-direction: column;
    width: 350px;
    margin-top: 40px;
    text-align: center;
}



.project-col p {
    margin-top: 30px;
    padding: 0 20px;
    line-height: 1.3;
}

.btn {
    background-color: #B2DBE2;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
}

.btn:hover {
    background-color: #8eafb4;
}

.publications-container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; 
}

.publication-col {
    flex-direction: column;
    width: 400px;
    margin: 20px 20px;
    text-align: center;    
}

.publication-col p {
    margin-top: 30px;
    line-height: 1.3;
}

.skills {
    margin-bottom: 50px;
}
.skills-logos-container i {
    margin: 20px;
    color: #466692;
}

.skills-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.skills-icon {
    margin: 10px;
}


.about {
    background: #B2DBE2;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.about-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    
}

 .about-summary {
    max-width: 600px;
    padding-right: 40px;
 }

.anchor a {
    position: absolute;
    left: 0px;
    top: -54px;
  } 

 .anchor {
    position: relative;
  }

/* footer css */
.footer {
    background: #B2DBE2;
    margin-top: 0;
    width: 100%;
}
.footer-container {
    display: flex;
    justify-content: center;
}
.footer-links li a {
    font-size: 22px;
    color: black;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

.footer-links {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 14px;
}

.footer-links li {
    display: inline-block;
}


 


    